@import "tailwindcss";

@theme {
    --font-display: 'Outfit', sans-serif;
    --font-body: 'Inter', sans-serif;

    --color-gpp-primary: #625C28;
    --color-gpp-accent: #B38B4D;
    --color-gpp-dark: #54533E;
    --color-gpp-light: #f4f4f0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@500;700;900&display=swap');

html,
body {
    font-family: var(--font-body);
    @apply bg-gpp-dark text-gpp-light;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}